/* base */

body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    color: rgb(234, 224, 224);
    max-width: 1200px;
    margin: 50px auto;
}

h1, h2, h3 {
    color: rgb(255, 255, 255);;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

a {
    color: rgb(163, 163, 241);
    text-decoration: none;
}

/* section */

header {
    position: absolute;
    right: 50px;
    top: 50px;
}

main {
    display: flex; 
    width: 100%;
    justify-content: center; 
    align-items: center;
}

#aboutme {   
    padding-left: 50px;
}

.message, .social {
    display: flex;
    align-items: center;
    gap: 50px;
}


 /* other */ 

#btn-style {
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(163, 163, 241);
    padding: 8px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(163, 163, 241);
}

#btn-style:hover {
    background-color: rgb(103, 103, 100);
    box-shadow: 5px 5px 5px rgb(103, 103, 100);
    transition: all 0.2s ease-out;
}

#avatar {
    width: 600px;
    height: 600px;
    display: flex;
    align-items: flex-end;
    border-bottom: solid 1px rgb(103, 103, 100);
    border-left: solid 1px rgb(103, 103, 100);
}

#avatar img {
    height: auto;
    max-height: 100%;
}

#contacts {
    display: flex; 
    justify-content: space-between;  
    margin: 25px;
    padding: 10px;
}

#contacts img {
    transition: transform 0.2s ease-out;
}

#contacts img:hover {
    transform: scale(1.5);
}

/* lists 
*/
ul.me {
    list-style-type: '- ' ;
    margin-left: -30px;
}
ul.lang {
    list-style: '* ';
    margin-left: -25px;
}
ul.books {
    margin-left: -25px;
}

@media screen and (max-width: 800px) {

    body {
        margin:auto 10px;
    }
    header {
          position: static;
          margin: 15px auto;
          text-align: center;
    }
    main {
        display: block;
        margin: 0 auto;
    }

    h1, h2, h3 {
        text-align: center;
    }

    #btn-style {
        font-size: 8px;
        border-radius: 5px;
        padding: 2px;
        box-shadow: none;
    }
    #avatar {
        width: 60%;
        max-width: auto;
        max-height: 300px;
        margin: 0 auto;
    }
    #avatar img {
        width: 100%;
        height: auto;
        
    }

    #contacts {
        display: block;
        justify-items: center;
        border: solid 1px whitesmoke;
        border-radius: 15px;
    }
    #contacts img {
        width: 60%;
        height: auto;
    }
    .message span {
        display: none;
    }
    .message, .social {
        display: flex;
        justify-content: center;
    }
}
