section {
    border: 1px solid black;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(107, 121, 9, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

#home {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.home-text {}


main {
    margin: 0 auto;
    width: 1200px;

    @media screen and (max-width: 1200px) {
        width: 800px;
    }

    @media screen and (max-width: 800px) {
        width: 400px;
    }

    @media screen and (max-width: 400px) {
        width: 200px;
    }
}

.photo-container {
    width: 300px;
}

img {
    width: 300px;
}

.icon-contact img {
    width: 20px;
}

h2 {
    font-size: 32px;
}

#contacts h2 {
    text-align: center;

}

.block-wrapper {
    list-style-type: none;
    border: 1px solid rgba(0, 0, 0, 0.473);
    border-radius: 20px;
    background-color: rgba(34, 157, 206, 0.219);
    padding: 3px;
    width: 250px;
    margin: 10px;
}

.top-block {
    font-size: 28px;
}

.top-block p {
    margin-bottom: 10px;
    text-align: center;
}

.line {
    border: 1px solid rgba(0, 0, 0, 0.473);
    border-radius: 3px;
    width: 100px;
    margin: 0 auto;

}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.flex-column {
    /* display: flex; */
}

ul {
    list-style-type: none;
    border: 1px solid rgba(0, 0, 0, 0.473);
    border-radius: 3px;
    background-color: antiquewhite;
    padding: 10px;

}

li {
    font-size: 24px;
    margin-bottom: 5px;

}

li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.788);
}

li a:hover {
    color: black;
}

.photo-container {}

.icon-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.photo-wrapper img {
    border-radius: 10px;
}